.main{
	border: 1px solid black;
	width: 300px;
	padding: 100px 50px 200px 150px;
	margin: 200px auto;	
	
}
.start{
	width: 200px;
}
.type button{
	margin-top: 10px;
	width: 100px;

}
.type button:nth-child(2){
	margin-left: -5px;
}
button{
	padding: 20px;


}